body {
   font-family: Arial, sans-serif;
   background-color: #e9e7e7;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   overflow: hidden;
   padding: 0 1rem;
}

#installButton {
   font-size: 1.5rem;
   color: #035a2a;
   cursor: pointer;
   position: fixed;
   top: 10px;
   right: 10px;
   z-index: 1000;
   background-color: transparent;
   transition: color 0.3s ease, transform 0.3s ease;
}

#installButton:hover {
   color: #61d870;
   transform: scale(1.2);
}

.container {
   margin: 1rem;
   box-shadow: 0px 0px 5px 1px rgb(27, 68, 37);
   border-radius: 24px;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 400px;
   background-color: #ffffff;
   position: relative;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 5rem;
}

h4 {
   color: #1c6320;
   font-size: 1.5rem;
   margin-top: 1rem;
   text-align: center;
}

label {
   color: #555;
   font-size: 1rem;
   margin-bottom: 4px;
   width: 100%;
}

select {
   width: 100%;
   padding: 10px;
   margin-bottom: 1.5rem;
   border: 1px solid #ddd;
   border-radius: 8px;
   font-size: 1rem;
   color: #333;
   outline: none;
   cursor: pointer;
}

select:focus {
   border-color: #4caf50;
   box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
   width: 100%;
   padding: 10px;
   font-size: 1rem;
   cursor: pointer;
   border: none;
   border-radius: 8px;
   transition: background-color 0.3s ease;
}

#fetchData {
   background-color: #4caf50;
   color: white;
   transition: color 0.3s ease, transform 0.3s ease;
}

#fetchData:hover {
   background-color: #115e15;
   transform: scale(0.95);
}

#closeFetch {
   background-color: rgb(216, 37, 37);
   color: white;
   transition: color 0.3s ease, transform 0.3s ease;
}

#closeFetch:hover {
   background-color: rgb(165, 12, 12);
   transform: scale(0.95);
}

#dataDisplay {
   border-radius: 10px;
   padding: 15px;
   background-color: #ffffff;
   border: 1px solid #ddd;
   box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.1);
   width: 90%;
   text-align: center;
   white-space: pre-wrap;
   word-wrap: break-word;
   font-family: monospace;
   color: #555;
   overflow: auto;
   height: 1rem;
   margin-bottom: 20px;
}
footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #109e17;
   color: #000000;
   text-align: center;
   padding: 10px;
   font-size: 0.7rem;
   opacity: 0.8;
   width: 100%;
   box-sizing: border-box;
   font-weight: bolder;
}
